ul{
  
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul a{
    border: 1px solid black;
    display: block;
    width: 200px;
    height: 40px;
    background:#f7b600 url('../images/menu.png') no-repeat;
    line-height: 40px;
    text-indent: 40px;
    text-decoration: none;
    color: black;
}

ul a:hover{
    background-position: right center;
    color: white;
    font-weight: bold;
    background-color: #FB9300;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#contato #navegacao .contato a,
#noticia #navegacao .noticia a{
    background-position: right center;
    color: white;
    font-weight: bold;
    background-color: #FB9300;
}